<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RESET_PASSWORDK</title>
</head>
<body leftmargin="500", rightmargin="500">
    <form accept-charset="utf-8" enctype="application/x-www-form-urlencoded" id="link">
        <fieldset>
            <legend form="reg">
                {% if login %}
                    <a> Hello, {{ login }}! </a>           
                {% else %}
                    <a>Tyt chto-to est</a>
                {% endif %}
                <br><br>
                Please, write new password.
            </legend>
            <br>
            <label for="reset">New password:</label>
            <input id="reset" name="reset" type="text" value="" autofocus required/>
            <br><br>
            <input type="submit" formmethod="POST" value="Reset"/>
        </fieldset>
    </form>
</body>
</html>